/* Resetting default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: #333;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:rgb(0, 247, 255);
  }
  
  .nav-links {
    list-style: none;
    display: flex;
  }
  
  .nav-links li {
    margin-left: 1.5rem;
  }
  
  .nav-links a {
    color: rgb(0, 247, 255);
    text-decoration: none;
  }
  
  .video-feed {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    padding: 2rem;
  }
  
  .video-card {
    background: #fff;
    padding: 1rem;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }
  
  video {
    width: 100%;
    border-radius: 10px;
  }
  
  .video-info {
    margin-top: 1rem;
  }
  
  h3 {
    font-size: 1.2rem;
    font-weight: bold;
  }
  